modules = ["nodejs-20", "python-3.11"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[userenv]

[userenv.shared]
AQICN_API_KEY = "1287001d798b5096952f4d012f7414b0c7104497"
"Gemini API key" = "AIzaSyCb3kRn9_v6aXGVM6fPQbuLpIluZ8UwZPI"
"NASA FIRMS API key" = "07fde8ac57fbbda5f4988d63ffb844e8"
aqi = "579b464db66ec23bdd000001610085fc3a4e455a52991cfd42bb68bb"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Main Server"

[[workflows.workflow]]
name = "Main Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Archivezipzip/Archivezip/Ward-Wise-Pollution-3 && npm install && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
